.env
venv/
app/fraud_memory/data
app/text_analysis/sms_analyzer/sms_model
**app/__pycache__/
__pycache__/
*.py[cod]
*.pyo

app/text_analysis/email_analyzer/email_model
app/text_analysis/email_analyzer/gmail_client_secrets.json
frontend/
todos.txt
app/url_analysis/explanations/