accelerate
annotated-doc
annotated-types
anyio
bcrypt
beautifulsoup4
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
confusable-homoglyphs
cryptography
cymem
distro
dnspython
email-validator
fastapi
filelock
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grpcio
h11
h2
hf-xet
hpack
httpcore
httplib2
httpx
huggingface_hub
hyperframe
idna
Jinja2
jiter
joblib
langcodes
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
numpy
oauthlib
openai
packaging
pandas
passlib
pillow
playwright
portalocker
preshed
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyee
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
PyYAML
qdrant-client
redis
regex
requests
requests-file
requests-oauthlib
rich
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
thinc
threadpoolctl
tldextract
tokenizers
torch
tqdm
transformers
typer
typer-slim
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
weasel
wrapt
python-multipart
win_unicode_console
yara-python
librosa
soundfile
faster-whisper
